################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PhotoOrganizer/v15
/PhotoOrganizer/bin
/PhotoOrganizer/obj
/PhotoOrganizer.Business/bin
/PhotoOrganizer.Business/obj
/PhotoOrganizer.Infrastructure/bin
/PhotoOrganizer.Infrastructure/obj
/PhotoOrganizer.Services/obj
/PhotoOrganizer.Services/bin
/PhotoOrganizer.WindowsServices/bin/Debug
/PhotoOrganizer.WindowsServices/obj/Debug
/PhotoOrganizer.WindowsServices/obj
/.vs/PhotoOrganizer/DesignTimeBuild/.dtbcache
